<app-my-header-component></app-my-header-component>

<ion-content [fullscreen]="true">
  <ion-title class="center-title">Оберіть стильний товар для свого образу</ion-title>

  <!-- Кнопка для додавання нового товару -->
  <ion-button class="custom-button" (click)="openAddProductModal()">
    Додати новий товар
  </ion-button>

  <!-- Спінер, якщо товари ще завантажуються -->
  <div *ngIf="loading">Завантаження товарів...</div>

  <!-- Відображення товарів у картках -->
  <ion-card class="product-card" *ngFor="let product of products">
    <ion-card-header class="card-header">
      <ion-card-title>
        {{ product.getName() }} №{{ product.getID() }}
      </ion-card-title>
      <ion-card-subtitle>{{ product.getType() }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="body">
      <ion-item *ngFor="let detail of product.getDetails()">
        <ion-label>{{ detail }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ціна: {{ product.getPrice() }} грн</ion-label>
      </ion-item>
    </ion-card-content>

    <!-- Кнопка редагування -->
    <ion-button class="custom-button-click" (click)="openEditProductModal(product.getID())">
      Редагувати
    </ion-button>

    <!-- Кнопка "придбати" -->
    <ion-button class="custom-pack-button" (click)="handleClick(product.getID())">
      Придбати
    </ion-button>
  </ion-card>
</ion-content>
